/* hmare html k root elt ka multiple kr deti h, by default 16px hota h to 1 rem = 16px
or if mai specify krdu size to uska multiple ho jayega */

/* ye relative isliye h cz agr hm screen ko zoom in ya out bhi krte h tb bhi text will remain same  */

/* html{ 
    font-size: 10px;
    font-size: 62.5%;
    % mei kre to agr hm fefault laptop ka font change krenge to site ka bhi change hoga
    px mei aisa nhi hoga
    16 px = 100%
    10px = 100/16 *10
} */
:root{
    font-size: 10px;
    /* font-size: 62.5%; */
}
.box1{
    font-size: 2rem;
}
.text{
    font-size: 3rem;
    border: 1rem solid red;
    margin: 0.5rem;
    padding: 4.5rem;
}