/* inline style attribute > id > class > element (specificity) */

div#container ul.my-songs li{
    color: brown;
    background-color: beige;
}
/* S: 0, 1, 1, 3 (113)*/
/* How to CALCULATE SPECIFICITY */
/* _, _, _, _ 
fill these 4 numbers using 1st line
0, 1(container), 1(my-songs), 3(div, ul, li) ---> 0, 1, 1, 3
*/

.fav{
    color: beige;
    background-color: brown;
}
/* S: 0, 0, 1, 0 (10)*/

div#container ul.my-songs li.fav{
    color: beige;
    background-color: brown;
}
/* S: 0, 1, 2, 3 (123)*/

/* Jiski S zada vo implement hoga */