h1{
    text-align: center;
    background-color: grey;
    margin: 0px 100px 0px 100px;
}

.h3{
    border: 1px solid;
    margin: 0px 100px;
    padding: 10px;
    text-transform: uppercase;
}