a{
    border: 2px solid black;
    
    /* margin: 100px; */
    /* margin sirf left , right mei hota h */

    /* padding: 50px;  */
    /* padding se cheezei overlap hoti h, kuch clear visible ni rehta */
    
    /* width: 100px;
    height: 100px; */
    /* height, width utni hi rhengi, badhengi nhi */
    
    /* isliye yaha inline se zada control nhi kr skte h to change it to inline-block elt */
    display: inline-block;
    margin: 20px;
    padding: 20px;
    height: 100px;
    width: 150px;
    /* now we have got the freedom */
} 