/* link, visited, hover, active */

a:link{
    color: yellowgreen;
}

a:visited{
    color: red;
}

a:hover{
    color: green;
}

a:active{
    /* active state mtlb sirf link pr click krke rkhna */
    color: black;
}

p:hover{
    color: brown;
}

p:active{
    background: rgb(0, 0, 0);
}