/* to add some content at starting we use ::before, to add at ending we use ::after */

.cool::before{
    content: "hello ";
    color: red;
    border: 1px dotted black;
    /* as this is inline isliye same line mei show ho ra */
    display: block;
    margin-bottom: 5px ;
    padding: 5px;
}


.cool::after{
    content: "hello ";
    color: red;
    border: 1px dotted black;
    /* as this is inline isliye same line mei show ho ra */
    display: block;
    margin-bottom: 5px ;
    padding: 5px;
}

.main::before{
    content: "hello ";
    color: brown;
}

.pic::after{
    content:"My Pic";
    /* img k baad kuch add nhi hoga */
}

/* so img, br, input, etc replaced elt k saath nhi use kr skte h */