.box{
    width: 100px;
    height: 100px;
    background: lightpink;
    /* transition-property: background;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; */
    /* transition: background 500ms ease-in-out, width 500ms ease-in-out, height 500ms ease-in-out; */
    transition: all 1s ease-in-out;
}

.box:hover{
    background: lightcoral;
    width: 200px;
    height: 50px;
}