@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}

span{
    background-color: rgb(100, 255, 255);
} 

h1, h3{
    color: rgb(0, 150, 150);
}

.main, .sub{
    background-color: #cdcdcd;
}


/* or */


/* .sec{
    color: rgb(0, 150, 150)
}

.bg-light{
    background-color: cacaca;
}

.bg-dark{
    background-color: cfcfcf;
} */