/* input[type = "text"]{
    color:red;
    background-color: antiquewhite;
} */
/* niche btaya h iska reason */
input[type ^= "t"]{
    color: forestgreen;
}

input[type = "password"]{
    background-color: pink;
}

/* a[href = "https://google.co.in"]{
    color: green;
} */

/* vo saare links jinke andr google aa ra h , uska clr change kro */
/* a[href *= "google"]{
    color: lightseagreen;
} */

/* vo saare links jinki starting mei https aa ra h , uska clr change kro  and use caret ^ symbol */
/* a[href ^= "https"]{
    color: forestgreen;
} */

/* vo saare links jinki ending mei .com aa ra h , uska clr change kro  and use caret ^ symbol */
a[href $= ".com"]{
    color: palevioletred;
}