/* Every HTML elt has a box around it
Content < Padding < Border < Margin 
(Top, Right, Bottom, Left)
(Blue, Green, YEllow, Brown)
*/

h1{
    /* regardless of words , page ki puri row mei boder aayega */
    border: 10px dotted brown;

    /* padding se space add hogi pr border k andr*/
    /* padding-left: 60px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-right: 50px; */

    /* agr hr trf padding eql rkhni h to */
    padding: 40px;
    /* agr 2 values dete h to top, bottom and right, left milegi */

    /* margin se bhi space add hogi pr border k bahr */
    /* margin-left: 100px;
    margin-top: 50px; */
    
    /* agr hr trf margin eql rkhni h to */
    /* margin: 40px; */

    width: 500px;
    margin: 20px auto;
    /* auto se center mei a jata h */
    text-align: center;
    background-color: lightblue;
    /* jaha se border start hota h, vahi se background strat hota h */
}