hr{
    width: 500px;
    margin-left: 0px;
    border: 1px dashed black;
}
.box1{
    width: 500px;
    background-color: lightcoral;
    border: 20px solid black;
    padding: 50px;
    /* ab jo total width h box ki vo sb kuch mila kr calculate hori h, using box model */
    
}
.box2{
    /* to let the width stay same, no matter what u add in box, yaha content adjuts ho jata h fir */
    box-sizing: border-box;
    width: 500px;
    background-color: brown;
    border: 20px solid black;
    padding: 50px;
    margin-bottom:10px ; 
    /* dono box k beech kuch space shodi h */
}