body{
    color: lightcoral;
    /* body k pass jitne bhi child elt h , sbpe clr aayega i.e. color pro is inherited by body */
}
.box1{
    color: blueviolet;
}
.box2{
    color: brown;
}
h2{
    color: cornflowerblue;
    /* overwrite krdia using specificity */
}
a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}