@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
}

p{
    font-size: 20px;
    /* line-height: 40px;
    word-spacing: 10px;
    letter-spacing: 8px;
    font-weight: 700; */

    /* Box Model */
    border: 2px solid red;
    padding: 15px;
    margin-top: 10px;
}

h1{
    border: 2px dotted purple;
    margin-bottom: 40px;
    color: green;
}
/* margin jiska zadda h utna hi total space hoga */


/* block level & inline elt */
/* block level full width lete h jinti availabe ho 
inline utni hi lete h width jitni required ho */

a{
    border: 2px solid green;
    width: 100px;
    height: 200px;
    /* width height nhi de skte h */

    /* display: block; */
    /* ab dikhega */

    margin-left: 100px;
    /* margin bhi yaha top, bottom pe ni kgta h, left & right pe lgta h bs */
}

/* specificity(calculate): inline > id > class > elt */
h1{
    color: green;
}
.heading{
    color: brown;
}
#main-heading{
    color: blue;
}

.fav{
    color: red;
}
/* S: 0010 */

ul li.fav{
    color: yellowgreen;
}
/* S: 0012 */